<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{products/create}">Create Product</a>
<table>
    <caption>List Product</caption>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>Description</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <tr th:each="product:${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.amount}"></td>
        <td th:text="${product.color}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.category.name}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${product.id})}">edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${product.id})}">delete</a></td>
    </tr>
</table>
</body>
</html>